// Base
//
// Universal base styles for all elements

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1rem is which is at 10px
  font-size: 62.5%; /* 10px */

  // Thick font fix
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;

  scroll-behavior: smooth;

  overflow-x: hidden;
}

body {
  font-size: inherit;
}

div#content {
  position: relative;
  margin-top: 14.6rem;
}
