@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@font-face {
  font-family: 'knockout';
  src: url('../../fonts/Knockout-50.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Knockout-50.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Knockout-50.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'knockout-49';
  src: url('../../fonts/Knockout-49.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Knockout-49.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'knockout-29';
  src: url('../../fonts/Knockout-29.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Knockout-29.ttf')  format('truetype'), /* Safari, Android, iOS */
}
