.site-footer { margin-top: 0; }

.astra-child-footer {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  text-align: center;
  background-color: var(--accent-grey-colour-20);

  .ast-row {
    display: flex;
    flex-direction: column;

    .ast-col-xs-12:first-child { order: 1; }
  }

  .footer-menus { margin-bottom: 4rem; }

  .footer-menu__links {
    margin-top: 0;
    margin-left: 0;
    list-style-type: none;
  }

  .footer-menu {
    margin-bottom: 2.4rem;

    .overline {
      margin-bottom: .8rem;
      color: var(--secondary-colour);
      font-size: 1.6rem;
      line-height: 2.6rem;
      font-family: var(--font-secondary);
      font-weight: var(--font-bold);
    }

    .footer-menu__link {
      margin-bottom: .8rem;
      color: var(--text-colour);
      text-transform: uppercase;
      text-decoration: none;
      font-weight: var(--font-regular);

      &:hover { text-decoration: underline; }
    }
  }

  .logo {
    display: inline-block;
    margin-bottom: 1.6rem;
  }

  .contact-info__meta { color: var(--text-colour-30); }

  .contact-info__meta--phone,
  .contact-info__meta--fax,
  .contact-info__meta--email,
  .contact-info__meta--address {
    margin-top: 0;
  }

  .contact-info__meta--phone,
  .contact-info__meta--fax,
  .contact-info__meta--email {
    margin-bottom: .8rem;
  }

  .contact-info { margin-bottom: 1.6rem; }

  .copyright { color: var(--text-colour-20); }

  @media screen and (min-width: 768px) {
    .footer-menus {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-menu {
      width: 50%;
      margin-top: 0;
      margin-bottom: 1.6rem;

      .overline { margin-top: 0; }
    }

    .footer-menu__links { margin-bottom: 0; }
  }

  @media screen and (min-width: 992px) {
    padding-top: 6.4rem;
    padding-bottom: 3.2rem;
    text-align: left;

    .ast-row {
      flex-direction: row;
      align-items: flex-start;

      .ast-col-xs-12:first-child { order: 0; }
    }

    .contact-info__meta--phone,
    .contact-info__meta--fax,
    .contact-info__meta--email {
      margin-bottom: 0;
    }

    .footer-menus {
      justify-content: flex-start;
      margin-bottom: 0;
    }

    .footer-menu {
      width: 32%;
      margin-bottom: 2.4rem;
      margin-right: 1.333%;

      &:nth-child(3) { margin-right: 0; }
    }

    .contact-info__meta--address {
      max-width: 27rem;
      margin-bottom: 1.6rem;
    }

    .main-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      .main-content__logo-link {
        display: block;
        width: 20%;
        max-width: 100%;
        margin-right: 5%;
      }

      .contact-info { width: 75%; }

      .copyright {
        width: 100%;
        align-self: flex-end;
        margin-top: 6.4rem;
        margin-bottom: 0;
        margin-left: .8rem;
      }
    }
  }
}
