.ast-pagination {
  .page-numbers {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--text-colour-20);

    &.current {
      color: var(--text-colour);
      font-weight: var(--font-bold);
    }

    .ast-left-arrow,
    .ast-right-arrow {
      display: none;
    }

    &.next { float: none; }
  }
}
