.latest-blog-section {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;

  .latest-blogs {
    margin: 0;
    list-style-type: none;
  }

  .latest-blog { margin-bottom: 4rem; }

  .ast-btn-secondary {
    display: block;
    margin: 2.4rem auto 0;
    max-width: 20rem;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .latest-blogs {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .latest-blog {
      width: 45%;
    }
  }

  @media screen and (min-width: 992px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
