.weekly-feature-cards-block {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;

  .weekly-feature-cards {
    margin-left: 0;
    list-style-type: none;
  }

  .weekly-feature-card { margin-bottom: 3.2rem; }
}
